.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

section {
  &.section {
    max-width: 720px;
  }
}

p {
  font-weight: bold;
}

form {
  float: right;
}
